<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>模块</span>
    </li>
    <!--<li>-->
    <!--<a href class="auto">-->
    <!--<span class="pull-right text-muted">-->
    <!--<i class="fa fa-fw fa-angle-right text"></i>-->
    <!--<i class="fa fa-fw fa-angle-down text-active"></i>-->
    <!--</span>-->
    <!--<i class="glyphicon glyphicon-stats icon text-primary-dker"></i>-->
    <!--<span class="font-bold">Dashboard</span>-->
    <!--</a>-->
    <!--<ul class="nav nav-sub dk">-->
    <!--<li class="nav-sub-header">-->
    <!--<a href>-->
    <!--<span>Dashboard</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="app.dashboard-v1">-->
    <!--<span>Dashboard v1</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="app.dashboard-v2">-->
    <!--<b class="label bg-info pull-right">N</b>-->
    <!--<span>Dashboard v2</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->

    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-th-large icon text-success"></i>
            <span class="font-bold">ERP</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>ERP</span>
                </a>
            </li>

            <li ng-repeat="app in app.apps | orderBy:sort " ui-sref-active="active">
                <a href="#" ng-click="switchApp(app.uid)">
                    <span><i class="fa {{app.iconClass}}"></i> {{app.name}}</span>
                </a>
            </li>

            <!--            <li ui-sref-active="active">
                            <a ui-sref="apps.note">
                                <span>Note</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="apps.contact">
                                <span>Contacts</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.weather">
                                <span>Weather</span>
                            </a>
                        </li>-->
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.mail.list">
            <b class="badge bg-info pull-right">9</b>
            <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
            <span class="font-bold">Email</span>
        </a>
    </li>

    <li class="line dk"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>菜单</span>
    </li>
    <li ng-repeat="menu in app.menuTree" ng-class="{active:$state.includes(menu.state)}">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="fa {{menu.iconclass}}"></i>
            <span> {{menu.name}}</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span><i class="fa {{menu.iconclass}}"></i> {{menu.name}}</span>
                </a>
            </li>
            <li ng-repeat="child in menu.children" ui-sref-active="active">
                <a ui-sref="{{child.state}}">
                    <span><i class="fa {{child.iconclass}}"></i> {{child.name}}</span>
                </a>
            </li>
        </ul>
    </li>


    <li class="line dk"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Components</span>
    </li>

    <!--bmms-->
    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-th"></i>
            <span>公交媒体管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>公交媒体管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="bmms.line_list">
                    <span>List</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="bmms.line_edit">
                    <span>Edit</span>
                </a>
            </li>
        </ul>
    </li>
    <!--bmms-->

    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-th"></i>
            <span>客户管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>客户管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="crm.customer_list">
                    <span>List</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="crm.customer_edit">
                    <span>Edit</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="layout.mobile">
                    <span>Mobile</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="line dk hidden-folded"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Your Stuff</span>
    </li>
    <li>
        <a ui-sref="app.page.profile">
            <i class="icon-user icon text-success-lter"></i>
            <b class="badge bg-success pull-right">30%</b>
            <span>Profile</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.docs">
            <i class="icon-question icon"></i>
            <span>Documents</span>
        </a>
    </li>
</ul>
<!-- / list -->