<div class="wrapper-md">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading font-bold"><i class="fa fa-pencil-square-o"></i> {{vm.title}}</div>
            <div class="panel-body">
                <tabset class="tab-container" ng-init="steps={percent:100, step1:true, step2:false}">

                    <tab heading="Step 1" active="steps.step1" select="steps.percent=40">
                        <p class="m-b">{{vm.step1Title}}</p>
                        <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
                        <h4>{{vm.title}}</h4>

                        <p>客户名:</p>
                        <input type="text" name="text" class="form-control" ng-model="vm.customerName" required
                               ng-change="customerChange()">
                        <table class="table table-responsive table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center;"></th>
                                <th>客户名称</th>
                                <th>行业</th>
                                <th>所在城市</th>
                                <th>公司地址</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.customerList">
                                <td style="text-align: center;">
                                    <div class="radio">
                                        <label class="i-checks">
                                            <input type="radio" name="a" value="{{item}}"
                                                   ng-click="changeCustomer(item)">
                                            <i></i>
                                        </label>
                                    </div>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.businessTypeName}}</td>
                                <td>{{item.areaName}}</td>
                                <td>{{item.companyAddress}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>

                        <div class="m-t m-b">
                            <button type="button" class="btn btn-default btn-rounded"
                                    ng-click="createReg();steps.step2=true">新建登记客户
                            </button>

                            <button type="submit" ng-disabled="vm.customer==null" class="btn btn-default btn-rounded"
                                    ng-click="steps.step2=true">下一步
                            </button>

                            <button class="btn btn-primary btn-rounded" ui-sref="crm.saler.customer_list"><i
                                    class="fa fa-reply"></i> 返回客户列表
                            </button>
                        </div>
                    </tab>

                    <tab heading="Step 2" disabled="{{vm.customer==null}}" active="steps.step2"
                         select="steps.percent=60">
                        <p class="m-b">{{vm.step2Title}}</p>
                        <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                        <form name="step2" class=" form-horizontal" role="form" novalidate>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="name">客户名称</label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="name" id="name"
                                           ng-model="vm.customer.name"
                                           ng-disabled="vm.customer.uid!=-1"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="brand">发布品牌</label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="brand" id="brand"
                                           ng-model="vm.customer.brand"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="businessType">行业</label>

                                <div class="col-md-4">
                                    <select type="text" class="form-control" name="businessType" id="businessType"
                                            ng-model="vm.customer.businessTypeUid"
                                            ng-disabled="vm.customer.uid!=-1"
                                            required>
                                        <option ng-repeat="item in vm.businessTypeList" value="{{item.uid}}">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="customerCategory">销售渠道</label>

                                <div class="col-md-4">
                                    <select type="text" class="form-control" name="customerCategory"
                                            id="customerCategory"
                                            ng-model="vm.customer.customerCategoryUid"
                                            required>
                                        <option ng-repeat="item in vm.customerCategoryList" value="{{item.uid}}">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="proxyCompany">代理公司</label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="proxyCompany" id="proxyCompany"
                                           ng-model="vm.customer.proxyCompany">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="province">所在省份</label>

                                <div class="col-md-4">
                                    <select type="text" class="form-control" name="province" id="province"
                                            ng-model="vm.province" ng-change="getArea()"
                                            ng-disabled="vm.customer.uid!=-1">
                                        <option ng-repeat="item in vm.provinceList" value="{{item.uid}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="areaUid">所在城市</label>

                                <div class="col-md-4">
                                    <select type="text" class="form-control" name="areaUid" id="areaUid"
                                            ng-model="vm.customer.areaUid" ng-disabled="vm.customer.uid!=-1">
                                        <option ng-repeat="item in vm.areaList" value="{{item.uid}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="areaCode">区号</label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="areaCode" id="areaCode"
                                           ng-model="vm.customer.areaCode"
                                           required ng-disabled="vm.customer.uid!=-1">
                                </div>
                            </div>

                            <div class=" form-group">
                                <label class="col-md-1 control-label" for="phone">电话</label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="phone" id="phone"
                                           ng-model="vm.customer.phone"
                                           required ng-disabled="vm.customer.uid!=-1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="companyAddress">公司地址</label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="companyAddress"
                                           id="companyAddress"
                                           ng-model="vm.customer.companyAddress"
                                           ng-disabled="vm.customer.uid!=-1"
                                           required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 control-label" for="postCode">邮编</label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="postCode" id="postCode"
                                           ng-model="vm.customer.postCode" ng-disabled="vm.customer.uid!=-1"
                                           required>
                                </div>
                            </div>


                            <div class="m-t m-b">
                                <button type="button" class="btn btn-default btn-rounded"
                                        ng-click="pre();steps.step1=true;">
                                    上一步
                                </button>
                                <button type="button" class="btn btn-default btn-rounded" ng-disabled="step2.$invalid "
                                        ng-click="saveData();;steps.percent=100">
                                    保存
                                </button>

                                <button class="btn btn-primary btn-rounded" ui-sref="crm.saler.customer_list"><i
                                        class="fa fa-reply"></i> 返回客户列表
                                </button>
                            </div>
                        </form>
                    </tab>

                </tabset>
            </div>
        </div>
    </div>
</div>