<ol class="breadcrumb">
	<li><a href="#">首页</a></li>
	<li><a href="#">基础信息</a></li>
	<li class="active">用户组编辑</li>
</ol>


<form name="editForm" class="form-horizontal " role="form" novalidate>
	<div class="form-group">
		<label for="name" class="col-sm-1 control-label">名称:</label>

		<div class="col-sm-4">
			<input type="hidden" name="uid" ng-model="userGroup.uid"> <input
				type="text" class="form-control" name='name'
				ng-model="userGroup.name" required="required" />

			<div ng-if="editForm.name.$dirty">
				<div ng-messages="editForm.name.$error" class="errormsg"
					role="alert">
					<div
						ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-6">
			<button class="btn btn-primary" ng-click="save()"
				ng-disabled="editForm.$invalid">
				<i class="fa fa-check"></i>保存
			</button>
			<button class="btn btn-info" ng-click="revert()">
				<i class="fa fa-undo"></i> 重置
			</button>
			<a ui-sref="org/usergroup" class="btn btn-warning"> <i
				class="fa fa-times"></i>取消并返回
			</a>
		</div>
	</div>
</form>