<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-list"></i> {{vm.title}}
        </div>

        <div class="table-responsive">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="panel-body b-b b-light">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-plus"></i> 添加
                        </button>

                        <button class="btn btn-danger" ui-sref="crm.saler.customer_list"><i
                                class="fa fa-reply"></i> 返回
                        </button>
                    </div>

                    <br><br>

                    <table class="table table-responsive table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>跟进日期</th>
                            <th style="width: 200px;">客户名称</th>
                            <th>联系人</th>
                            <th>跟进类型</th>
                            <th>跟进方式</th>
                            <th>同行人员</th>
                            <th style="width: 350px;">摘要</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.remarksList">
                            <td>
                                <a href="#" title="编辑"
                                   ui-sref="crm.saler.remarks_cu_edit({uid:item.uid,isreg:item.reg,isreadonly :false,ic:0})"><i
                                        class="fa fa-edit  fa-fw fa-lg"></i> </a>
                                <a href="#" title="删除" ng-click="deleteRemark(item.uid,item.reg)"><i
                                        class="fa fa-trash fa-fw fa-lg"></i> </a>
                                <a href="#" title="查询详细"
                                   ui-sref="crm.saler.remarks_cu_edit({uid:item.uid,isreg:item.reg,isreadonly:true,ic:0})"><i
                                        class="fa fa-search  fa-fw fa-lg"></i> </a>
                            </td>
                            <td>{{item.followUpDate}}</td>
                            <td style="width: 200px;">{{item.customerName}}</td>
                            <td>{{item.contract}}</td>
                            <td>{{item.mannerName}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.persons}}</td>
                            <td style="width: 350px;">{{item.summary}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>