<script type="text/ng-template" id="templateId">
    <div class="panel-body">

        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-ol"></i> 编辑联系方式
            </div>
        </div>


        <form name="typeEditForm" class="form-horizontal " role="form" novalidate>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">名称:</label>

                <div class="col-sm-7">
                    <input type="hidden" name="uid" ng-model="mannerModel.uid">
                    <input type="text" class="form-control" name='name'
                           ng-model="mannerModel.name" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-6">
                    <button class="btn btn-primary" ng-click="saveManner()"
                            ng-disabled="typeEditForm.$invalid">
                        <i class="fa fa-check"></i>保存
                    </button>
                    <a class="btn btn-warning" ng-click="closeWin()"> <i
                            class="fa fa-times"></i>关闭
                    </a>
                </div>
            </div>
        </form>
    </div>
</script>

<div class="wrapper-md">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading font-bold"><i class="fa fa-pencil-square-o"></i> 销售日志</div>
            <div class="panel-body">
                <form class=" form-horizontal" role="form" name="editForm" novalidate>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="name">客户名称</label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="name" id="name" ng-model="vm.customer.name"
                                   disabled="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="manneruid">跟进方式</label>

                        <div class="col-md-4">
                            <div class="input-group ">
                                <select class="form-control" name="manneruid" id="manneruid"
                                        ng-model="vm.remarks.mannerUid"
                                        required="required">
                                    <option ng-repeat="item in vm.mannerList" value="{{item.id}}">{{item.name}}
                                    </option>
                                </select><span class="input-group-btn">
                            <input class="btn btn-default" type="button" value="添加" ng-click="openmanner()"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="contract">联系人</label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="contract" id="contract"
                                   ng-model="vm.remarks.contract" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="phone">联系方式</label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="phone" id="phone"
                                   ng-model="vm.remarks.phone" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="persons">同行人员</label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="persons" id="persons"
                                   ng-model="vm.remarks.persons">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="followupdate">跟进时间</label>

                        <div class="col-md-4">
                            <input type="date" class="form-control" name="followupdate" id="followupdate"
                                   max="{{vm.maxDate}}"
                                   ng-model="vm.remarks.followUpDateByDateTime" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="summary">摘要</label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="summary" id="summary"
                                   ng-model="vm.remarks.summary" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="file1">附件1</label>

                        <div class="col-md-10">
                            <input type="file" class="form-control" name="file1" id="file1" rows="12"
                                   ngf-select="" ng-model="picFile" accept="image/*" required="required">
                        </div>
                        <img ngf-src="picFile" style="width: 100px;height: 100px;float: none;position: relative;top: 7px;">
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="file2">附件2</label>

                        <div class="col-md-10">
                            <input type="file" class="form-control" name="file2" id="file2" rows="12"
                                   ngf-select="" ng-model="xlsFile" accept="image/*" required="required">
                        </div>
                        <img ngf-src="xlsFile" style="width: 100px;height: 100px;float: none;position: relative;top: 7px;">
                    </div>


                    <div class="form-group">
                        <label class="col-md-1 control-label" for="remarks">日志</label>

                        <div class="col-md-10">
                            <textarea class="form-control" name="remarks" id="remarks" rows="12"
                                      ng-model="vm.remarks.remarks" required="required"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-6">
                            <button class="btn btn-primary" ng-click="saveRemarks([picFile,xlsFile])"><i
                                    class="fa fa-floppy-o"></i> 保存
                            </button>
                            <button class="btn btn-primary" ui-sref="crm.saler.customer_list"><i
                                    class="fa fa-reply"></i> 返回
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>