<ol class="breadcrumb">
	<li><a href="#">首页</a></li>
	<li><a href="#">基础信息</a></li>
	<li class="active">功能模块</li>
</ol>

<div class="panel-body">
	<script src="/oaucenter/resources/js/jquery.treetable.js"></script>
	<link rel="stylesheet"
		href="/oaucenter/resources/css/jquery.treetable.css">
	<link rel="stylesheet"
		href="/oaucenter/resources/css/jquery.treetable.theme.default.css">

	<script type="text/ng-template" id='tree_node'>
		<tr tr-mouseover-toggle="9" tt-node is-branch="node.children.length > 0">
			<td style="width:250px;"><span ng-bind="node.name"></span></td>
			<td style="text-align: center;width: 80px" ><i class="fa {{node.iconClass}}"></i></td>
			<td ng-bind="node.url"></td>
			<td ng-bind="node.authorityCode"></td>
			<td ng-bind="node.state"></td>
			<td style="width:80px;">
				<i ng-class="{'fa fa-times-circle text-red  fa-lg':node.showInMenu == false}"></i>
			</td>
			<td style="width:80px;">
				<i ng-class="{'fa fa-check-circle text-red fa-lg':node.forbidden == true}"></i>
			</td>
			<td>
				<div>
					<span ng-repeat="it in node.functions">
						 <a href="#" ui-sref="application/resource/edit({uid:it.uid,parentuid:it.parentUid,parentname:node.name,treetype:2})">{{it.name}}</a> |	
					</span>
				</div>
			</td>
			<td ng-bind="node.comment"></td>
			<td style="width: 300px; text-align: center">
				<div>
					<a class="ng-hide" ng-show="{{node.treeType == -1}}" href="#" ui-sref="application/resource/edit({uid:0,parentuid:node.uid,parentname:node.name,treetype:-1})"> <i class="fa fa-angle-double-down"></i> 添加下级</a>
					<a class="ng-hide" ng-show="{{node.treeType == 1}}" href="#" ui-sref="application/resource/edit({uid:0,parentuid:node.uid,parentname:node.name,treetype:1})"> <i class="fa fa-angle-double-down"></i> 添加下级</a>
					
					<a  class="ng-hide" ng-show="{{node.treeType == 1}}" href="#" ui-sref="application/resource/edit({uid:0,parentuid:node.uid,parentname:node.name,treetype:2})"><i class="fa fa-pencil fa-fw wrench"></i>添加功能</a>
					<a  class="ng-hide" ng-show="{{node.treeType!=-1}}" href="#" ui-sref="application/resource/edit({uid:node.uid,parentuid:node.parentUid,parentname:node.name,treetype:node.treeType})"><i class="fa fa-pencil fa-fw"></i>修改</a>
                    <a  class="ng-hide" ng-show="{{node.treeType!=-1}}" href="#" ng-click="deleteResource(node.uid)"><i class="fa fa-trash-o fa-fw text-danger"></i> 删除</a>
				</div>
			</td>
		</tr>
	</script>

	<div class="box">

		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-ol"></i> 功能模块
			</div>
			<div class="box-tools">
				<div class="input-group" style="width: 150px;">
					<select class="form-control" style="width: 120px;" name="appUid"
						ng-model="appUid" required="required"
						ng-options="item.uid as item.name for item in applicationList">
					</select>

					<div class="input-group-btn">
						<button class="btn btn-sm btn-default" ng-click="loadData()">
							<i class="fa fa-search"></i> 查找
						</button>
					</div>
				</div>
			</div>

		</div>

		<div class="box-body box-body table-responsive no-padding">

			<table class="table table-bordered table-striped table-hover"
				tt-table tt-params="expanded_params">

				<thead>
					<tr>
						<th style="width: 250px;">名称</th>
						<th style="text-align: center;width: 80px">图标</th>
						<th>地址</th>
						<th>权限编号</th>
						<th>链接标识</th>
						<th style="width: 80px;">显示菜单</th>
						<th style="width: 80px;">是否禁用</th>
						<th>功能操作</th>
						<th>备注</th>
						<th style="width: 300px; text-align: center"></th>
					</tr>
				</thead>

				<tbody>
				</tbody>

			</table>

		</div>

	</div>

</div>
