<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balintimes.erp.center.mappers.LineMapper">
	<resultMap type="Line" id="lineResultMap">
		<id property="uid" column="uid"/>
		<result property="id" column="id"/>
		<result property="kid" column="kid"/>
		<result property="name" column="name"/>
		<result property="startstationuid" column="startstationuid"/>
		<result property="endstationuid" column="endstationuid"/>
		<result property="deleted" column="deleted"/>
		<result property="comment" column="comment"/>
		<result property="edittime" column="edittime"/>
		<result property="editorname" column="editorname"/>
		<result property="editorid" column="editorid"/>
		<result property="createtime" column="createtime"/>
		<result property="creatorname" column="creatorname"/>
		<result property="creatorid" column="creatorid"/>
		<result property="isusebymediapool" column="isusebymediapool"/>
		<result property="priorityno" column="priorityno"/>
		<result property="cityuid" column="cityuid"/>
	</resultMap>
	
	<select id="GetLineList" statementType="PREPARED" resultType="Line">
        SELECT  * FROM line where deleted=0
	</select>
	
	<select id="GetLineListByCondition" statementType="PREPARED" parameterType="Map" resultType="Line">
        select  a.*,b.name as cityname,c.name as startstationname,d.name as endstationname from line a
        inner join city b on a.cityuid=b.uid
		left join station c on a.startstationuid=c.uid
		left join station d on a.endstationuid=d.uid
		where a.deleted=0
        <if test="name!=null and name!=''">and a.name like "%"#{name}"%"</if>
        <if test="cityuid!=null and cityuid!=''">and a.cityuid =#{cityuid}</if>
        order by a.cityuid
	</select>
	
	<select id="GetOneLine" statementType="PREPARED" resultType="Line">
         SELECT  * FROM line where deleted=0 and uid=#{uid}   
	</select>
	
	<select id="GetMaxKid" statementType="PREPARED" resultType="String">
        SELECT  Max(kid) FROM line      
	</select>
	
	<update id="UpdateLine" parameterType="Map">
        update line set name=#{name}
        ,cityuid=#{cityuid},startstationuid=#{startstationuid},endstationuid=#{endstationuid}
         where uid = #{uid}
	</update>
    
	<update id="DeleteLine" parameterType="string"  >
        update line set deleted=1 where uid = #{uid}
	</update>

	<insert id="CreateLine" statementType="PREPARED" parameterType="Line" keyProperty="uid" keyColumn="uid">
    	INSERT INTO line (uid,  kid, name, startstationuid, endstationuid, deleted, comment, edittime, editorname, editorid, createtime, 
    	creatorname, creatorid, isusebymediapool, priorityno,cityuid) VALUES        
        (#{uid},#{kid},#{name},#{startstationuid},#{endstationuid},#{deleted},#{comment},#{edittime},#{editorname},#{editorid},#{createtime}, 
    	#{creatorname},#{creatorid},#{isusebymediapool},#{priorityno},#{cityuid})
	</insert>
    
</mapper>