<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balintimes.erp.center.mappers.PosTypeMapper">
    <resultMap type="PosType" id="postypeResultMap">
        <id property="uid" column="uid"/>
        <result property="kid" column="kid"/>
        <result property="name" column="name"/>
        <result property="postypeorder" column="postypeorder"/>
        <result property="deleted" column="deleted"/>
        <result property="comment" column="comment"/>
        <result property="edittime" column="edittime"/>
        <result property="editorname" column="editorname"/>
        <result property="editorid" column="editorid"/>
        <result property="createtime" column="createtime"/>
        <result property="creatorname" column="creatorname"/>
        <result property="creatorid" column="creatorid"/>
    </resultMap>

    <select id="GetPosTypeListByCondition" statementType="PREPARED" parameterType="Map" resultType="PosType">
        select  a.* from postype a
        where a.deleted=0
        <if test="name!=null and name!=''">and a.name like "%"#{name}"%"</if>
        order by a.postypeorder
    </select>

    <select id="GetOnePosType" statementType="PREPARED" resultType="PosType">
        select  a.* from postype a
        where a.deleted=0 and a.uid=#{uid}
    </select>

    <update id="UpdatePosType" parameterType="Map">
        update postype set name=#{name}
        ,comment=#{comment},postypeorder=#{postypeorder}
        where uid = #{uid}
    </update>

    <update id="DeletePosType" parameterType="string"  >
        update postype set deleted=1 where uid = #{uid}
    </update>

    <insert id="CreatePosType" statementType="PREPARED" parameterType="PosType" keyProperty="uid" keyColumn="uid">
        INSERT INTO postype (uid,  kid, name, postypeorder,  deleted, comment, creatorid,creatorname, createtime, editorid,editorname, edittime) VALUES
        (#{uid},#{kid},#{name},#{postypeorder},#{deleted},#{comment},#{creatorid},#{creatorname},#{createtime},#{editorid},#{editorname}, #{edittime})
    </insert>

</mapper>