<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balintimes.erp.center.mappers.UserGroupDetailMapper">

	<resultMap type="UserGroupDetail" id="userGroupDetailMap">
		<id property="uid" column="uid" />
		<result property="userGroupUid" column="usergroupuid" />
		<result property="userUid" column="useruid" />
		<result property="roleType" column="roletype" />
	</resultMap>

	<select id="GetUserGroupDetailListByGroup" statementType="PREPARED"
		resultType="UserGroupDetail" parameterType="String">
		select * from
		usergroupdetail where usergroupuid=#{groupUid}
	</select>

	<select id="GetUserGroupDetailListByUser" statementType="PREPARED"
		resultType="UserGroupDetail" parameterType="String">
		select * from
		usergroupdetail where useruid=#{userUid}
	</select>

	<select id="ExistsUserGroupDetail" statementType="PREPARED"
		resultType="int" parameterType="Map">
		select count(uid) as datacount from
		usergroupdetail where usergroupuid=#{userGroupUid} and
		userid=#{userUid} and roletype=#{roleType}
	</select>

	<insert id="CreateUserGroupDetail" statementType="PREPARED"
		parameterType="UserGroupDetail">
		insert into
		usergroupdetail(uid,usergroupuid,useruid,roletype)
		values(uuid(),#{userGroupUid},#{userUid},#{roleType})
	</insert>

	<delete id="DeleteUserGroupDetail" statementType="PREPARED"
		parameterType="String">
		delete from usergroupdetail where uid=#{uid}
	</delete>

	<delete id="DeleteUserGroupDetailByGroup" statementType="PREPARED"
		parameterType="String">
		delete from usergroupdetail where
		usergroupuid=#{groupUid}
	</delete>

	<delete id="DeleteUserGroupDetailByUser" statementType="PREPARED"
		parameterType="String">
		delete from usergroupdetail where
		useruid=#{userUid}
	</delete>
	
	<delete id="DeleteUserGroupDetailByUserAndGroup" statementType="PREPARED"
		parameterType="Map">
		delete from usergroupdetail where
		useruid=#{userUid} and usergroupuid=#{userGroupUid}
	</delete>
</mapper>