<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">机构设置</a></li>
    <li class="active">机构编辑</li>
</ol>

<form class="form-horizontal" name="editForm" role="form" novalidate>

    <div class="form-group">
        <label for="parentname" class="col-md-1 control-label">上级机构:</label>

        <div class="col-md-4">
            <!--<input type="text" class="form-control" name='parentname' ng-com.balintimes.erp.center.model="organization.parentname" disabled/>-->
            <div class="input-group">
                <input type="text" class="form-control" name='parentname' ng-model="organization.parentname" readonly>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="SelectParentOrg()"><i
                            class="fa fa-angle-double-right"></i> 选择
                    </button>
                  </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="parentname2" class="col-md-1 control-label">上级机构:</label>

        <div class="col-md-4 dropdown combo-select">
            <div class="input-group">
                <input type="text" class="form-control" name='parentname2' ng-model="organization.parentname" readonly>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="orgDropDown=!orgDropDown"><i
                            class="fa fa-angle-double-right"></i> 选择
                    </button>
                  </span>
            </div>
            <div class="dropdown-menu combo-dropdown-menu collapse" ng-class="{in: orgDropDown}"
                 ng-blur="orgDropDown = false">
                <treecontrol class="tree-light treecontrolfont" tree-model="treeData" expanded-nodes="expandedNodes"
                             on-selection="SelectTreeOrg(node)">
                    {{node.name}}
                </treecontrol>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-md-1 control-label">机构名称:</label>

        <div class="col-md-4">
            <input type="text" class="form-control" name='name' ng-model="organization.name"
                   required="required" ng-maxlength="10" ng-minlength="2"/>

            <div ng-if="editForm.name.$dirty">
                <div ng-messages="editForm.name.$error" class="errormsg" role="alert">
                    <div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html'/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="cityuid" class="col-md-1 control-label">所在城市:</label>

        <div class="col-md-4">
            <div class="input-group">
                <select class="form-control" name="cityuid" ng-model="organization.cityuid" required="required"
                        ng-options="city.uid as city.name for city in cityData"></select>
                <span class="input-group-btn"><a class="btn btn-default" ng-click="AddCity()">添加</a></span>
            </div>
            <div ng-if="editForm.cityuid.$dirty">
                <div ng-messages="editForm.cityuid.$error" class="errormsg" role="alert">
                    <div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html'/>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="status" class="col-md-1 control-label">状态:</label>

        <div class="col-md-4">
            <select class="form-control" name="status" ng-model="organization.status"
                    ng-options="status.value as status.text for status in orgStatus"></select>

            <div ng-if="editForm.status.$dirty">
                <div ng-messages="editForm.status.$error" class="errormsg" role="alert">
                    <div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html'/>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment" class="col-md-1 control-label">备注:</label>

        <div class="col-md-4">
            <textarea name="comment" class="form-control" ng-model="organization.comment"></textarea>
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-offset-1 col-md-6">
            <button class="btn btn-primary" ng-click="SaveOrg()" ng-disabled="editForm.$invalid">
                <i class="fa fa-check"></i>保存
            </button>
            <button class="btn btn-info" ng-click="Revert()">
                <i class="fa fa-undo"></i> 重置
            </button>
            <a ui-sref="org/organization" class="btn btn-warning">
                <i class="fa fa-times"></i>取消并返回</a>

            <!-- 			<button class="btn btn-primary" ng-click="resetPassword()">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" /> 重置密码(test)
            </button>

            <button class="btn btn-primary" ng-click="GetNullUser()">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" /> GetNullUser
            </button>

            <button class="btn btn-primary" ng-click="GetAdminUser()">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" /> GetAdminUser
            </button> -->
        </div>
    </div>
</form>