<script type="text/ng-template" id='postGroupTpl'>
	<div class="panel-body" >
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-ol"></i> 设置职位组
			</div>
		</div>
		
		<ul class="tree">
			<nodepost-tree children="postTreeGroupData" text="name" expanded="true" checkchildren="false">
			</nodepost-tree>
		</ul>
		<div class="col-sm-4 col-sm-offset-4">
			<button class="btn btn-primary" ng-click="saveChoose()">
				<i class="fa fa-check"></i>保存
			</button>
			<button class="btn btn-warning" ng-click="closeWin()">
				<i class="fa fa-times"></i>关闭
			</button>
			
		</div>
	</div>
</script>

<ol class="breadcrumb">
	<li><a href="#">首页</a></li>
	<li><a href="#">员工设置</a></li>
	<li class="active">员工编辑</li>
</ol>

<form class="form-horizontal" name="editForm" role="form" novalidate>

	<div class="form-group">
		<label for="parentname2" class="col-sm-1 control-label">上级员工</label>

		<div class="col-sm-4 dropdown combo-select">
			<div class="input-group">
				<input type="text" class="form-control" name='parentname2' ng-model="userParent.employeename" readonly> <span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="userDropDown=!userDropDown">
						<i class="fa fa-angle-double-right"></i> 选择
					</button>
				</span>
			</div>
			<div class="dropdown-menu combo-dropdown-menu collapse" ng-class="{in: userDropDown}" ng-blur="userDropDown = false">
				<treecontrol class="tree-light treecontrolfont" tree-model="treeData" expanded-nodes="expandedNodes" on-selection="SelectTreeuser(node)">				
					<span ng-if="node.users.length>1" ng-repeat="x in node.users">{{x.employeename+","}} </span>				
					<span ng-if="node.users.length==1">{{node.users[0].employeename}} </span>				
					<span ng-if="node.users.length<=0">{{node.name}} </span>				
				</treecontrol>
			</div>
			
		</div>
	</div>

	<div class="form-group">
		<label for="postname" class="col-sm-1 control-label">员工名称:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='name' ng-model="user.employeename" required="required" ng-maxlength="10" ng-minlength="2" />

			<div ng-if="editForm.name.$dirty">
				<div ng-messages="editForm.name.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="postuid" class="col-sm-1 control-label">职位:</label>

		<div class="col-sm-4">
			<div class="input-group">
				<input type="text" class="form-control" name='parentname3' ng-model="user.postname" readonly> <span class="input-group-btn">
<!-- 					<button class="btn btn-default" type="button" ng-click="go(user.postuid,user.postname)"> -->
<!-- 						<i class="fa fa-angle-double-right"></i> 设置职位组 -->
<!-- 					</button> -->
					<button class="btn btn-default" type="button" ng-click="SelectTreePostModal()">
						<i class="fa fa-angle-double-right"></i> 设置职位
					</button>

				</span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="col-sm-1 control-label">用户名:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='username' ng-model="user.username" required="required" ng-maxlength="10" ng-minlength="2" />

			<div ng-if="editForm.status.$dirty">
				<div ng-messages="editForm.status.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div ng-if="user.uid=='0'" class="form-group">
		<label for="password" class="col-sm-1 control-label">密码:</label>

		<div class="col-sm-4">
			<input type="password" class="form-control" name='password' ng-model="user.password" required="required" ng-maxlength="15" ng-minlength='6' />

			<div ng-if="editForm.password.$dirty">
				<div ng-messages="editForm.password.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>
	<div ng-if="user.uid=='0'" class="form-group">
		<label for="password2" class="col-sm-1 control-label">确认密码:</label>

		<div class="col-sm-4">
			<input type="password" class="form-control" name='password2' ng-model="password2" required="required" ng-maxlength="15" ng-minlength='6' match-validator="user.password"
				required />

			<div ng-if="editForm.password2.$dirty">
				<div ng-messages="editForm.password2.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
					<div ng-message="match">你输入的确认密码与之前的不同，请重新输入</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-4">
			<div class="checkbox">
				<label> <input type="checkbox" name='isadmin' ng-model="user.isadmin"> 管理员
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-4">
			<div class="checkbox">
				<label> <input type="checkbox" name='isenable' ng-model="user.isenable"> 启用
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="usertype" class="col-sm-1 control-label">用户类型:</label>

		<div class="col-sm-4">
			<select class="form-control" name="usertype" ng-model="user.usertype" ng-options="usertype.uid as usertype.name for usertype in userTypes">
			</select>

			<div ng-if="editForm.usertype.$dirty">
				<div ng-messages="editForm.usertype.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="col-sm-1 control-label">电子邮箱:</label>

		<div class="col-sm-4">
			<input type="email" class="form-control" name='email' ng-model="user.email" required="required" />

			<div ng-if="editForm.email.$dirty">
				<div ng-messages="editForm.email.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="comment" class="col-sm-1 control-label">备注:</label>

		<div class="col-sm-4">
			<textarea name="comment" class="form-control" ng-model="user.comment"></textarea>
		</div>

	</div>

	<div class="form-group">
		<label for="birthday" class="col-sm-1 control-label">出生年月:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='birthday' ng-model="user.birthday" ng-maxlength="10" ng-minlength="6" />

			<div ng-if="editForm.status.$dirty">
				<div ng-messages="editForm.status.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="idcard" class="col-sm-1 control-label">证件号:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='idcard' ng-model="user.idcard" ng-maxlength="10" ng-minlength="2" />

			<div ng-if="editForm.status.$dirty">
				<div ng-messages="editForm.status.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="address" class="col-sm-1 control-label">住址:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='address' ng-model="user.address" ng-maxlength="100" ng-minlength="10" />

			<div ng-if="editForm.status.$dirty">
				<div ng-messages="editForm.status.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="mobile" class="col-sm-1 control-label">手机:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='mobile' ng-model="user.mobile" ng-maxlength="11" ng-minlength="11" />

			<div ng-if="editForm.status.$dirty">
				<div ng-messages="editForm.status.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="telephone" class="col-sm-1 control-label">电话:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='telephone' ng-model="user.telephone" ng-maxlength="20" ng-minlength="7" />

			<div ng-if="editForm.status.$dirty">
				<div ng-messages="editForm.status.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="emergencycontact" class="col-sm-1 control-label">紧急联系人:</label>

		<div class="col-sm-4">
			<input type="text" class="form-control" name='username' ng-model="user.emergencycontact" ng-maxlength="20" ng-minlength="2" />

			<div ng-if="editForm.status.$dirty">
				<div ng-messages="editForm.status.$error" class="errormsg" role="alert">
					<div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-6">
			<button class="btn btn-primary" ng-click="SaveUser()" ng-disabled="editForm.$invalid">
				<i class="fa fa-check"></i>保存
			</button>
			<button class="btn btn-info" ng-click="Revert()">
				<i class="fa fa-undo"></i> 重置
			</button>
			<a ui-sref="org/user" class="btn btn-warning"> <i class="fa fa-times"></i>取消并返回
			</a>

		</div>
	</div>
</form>