<form class="form-horizontal"  method="post" enctype="multipart/form-data">
    <h4>头像上传</h4>
    <hr />
<!--     <div class="form-group"> -->
<!--         <label for="title" class="col-md-2 control-label">头像</label> -->
<!--         <div class="col-md-10"> -->
<!--             <input type="text" data-ng-com.balintimes.erp.center.model="tutorial.title" name="title" class="form-control" /> -->
<!--         </div> -->
<!--     </div> -->

<!--    <div class="form-group"> -->
<!--         <label for="description" class="col-md-2 control-label">用户名</label> -->
<!--         <div class="col-md-10"> -->
<!--             <textarea data-ng-model="tutorial.username" name="username" class="form-control"> -->
<!--             </textarea> -->
<!--         </div> -->
<!--     </div> -->
<!--    <div class="form-group"> -->
<!--         <label for="attachment" class="col-md-2 control-label">附件</label> -->
<!--         <div class="col-md-10"> -->
<!--             <input type="file" name="attachment" class="form-control" data-ak-file-model="tutorial.attachment" /> -->
<!--         </div> -->
<!--     </div> -->
<!--   <div class="form-group"> -->
<!--         <div class="col-md-offset-2 col-md-10"> -->
<!--             <input type="button" class="btn btn-primary" value="Save"  data-ng-click="saveTutorial(tutorial)"/> -->
<!--         </div> -->
<!--     </div> -->
</form>