<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">集团基础数据</a></li>
    <li><a href="#" ui-sref="org/line">列车</a></li>
    <li class="active">列车编辑</li>
</ol>
<form name="editForm" class="form-horizontal " role="form" novalidate>

    <div class="form-group">
        <label class="control-label col-sm-1">城市:</label>
        <div class="controls col-sm-2">
            <select class="form-control" ng-model="train.cityuid" ng-options="city.uid as city.name for city in cities">
                <option value="">-- 请选择城市 --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-1">线路:</label>
        <div class="controls col-sm-2">
            <select class="form-control" ng-model="train.lineuid" ng-options="line.uid as line.name for line in lines">
                <option value="">-- 请选择线路 --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="kid" class="control-label col-sm-1">编码:</label>
        <div class="controls col-sm-2">
            <input type="text" class="form-control" name='kid' ng-model="train.kid" />
        </div>
    </div>


    <div class="form-group">
        <label for="comment" class="col-sm-1 control-label">备注:</label>
        <div class="col-sm-4">
            <textarea name="comment" class="form-control" ng-model="train.comment"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-6">
            <button class="btn btn-primary" ng-click="savetrain()" ng-disabled="editForm.$invalid">
                <i class="fa fa-check"></i>保存
            </button>
            <button class="btn btn-info" ng-click="revert()">
                <i class="fa fa-undo"></i> 重置
            </button>
            <a ui-sref="org/train" class="btn btn-warning"> <i class="fa fa-times"></i>取消并返回
            </a>


        </div>
    </div>
</form>
