<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">集团基础数据</a></li>
    <li><a href="#" ui-sref="org/line">级别</a></li>
    <li class="active">级别编辑</li>
</ol>
<form name="editForm" class="form-horizontal " role="form" novalidate>

    <div class="form-group">
        <label for="kid" class="col-sm-1 control-label">等级编号:</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" name='kid' ng-model="level.kid" required="required" ng-maxlength="10" ng-minlength='1' readonly="true" ng-if="level.uid!='0'"/>
            <input type="text" class="form-control" name='kid' ng-model="level.kid" required="required" ng-maxlength="10" ng-minlength='1'  ng-if="level.uid=='0'"/>

            <div ng-if="editForm.kid.$dirty">
                <div ng-messages="editForm.kid.$error" class="errormsg" role="alert">
                    <div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="levelname" class="control-label col-sm-1">名称:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name='levelname' ng-model="level.name" required="required" ng-maxlength="10" ng-minlength='1' />

            <div ng-if="editForm.levelname.$dirty">
                <div ng-messages="editForm.levelname.$error" class="errormsg" role="alert">
                    <div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="levelvalue" class="control-label col-sm-1">分值:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name='levelvalue' ng-model="level.value" required="required" ng-maxlength="10" ng-minlength='1' />

            <div ng-if="editForm.levelvalue.$dirty">
                <div ng-messages="editForm.levelvalue.$error" class="errormsg" role="alert">
                    <div ng-messages-include='{{rootpath}}/views/tpls/messageerror/require.html' />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment" class="col-sm-1 control-label">备注:</label>

        <div class="col-sm-4">
            <textarea name="comment" class="form-control" ng-model="line.comment"></textarea>
        </div>

    </div>



    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-6">
            <button class="btn btn-primary" ng-click="savelevel()" ng-disabled="editForm.$invalid">
                <i class="fa fa-check"></i>保存
            </button>
            <button class="btn btn-info" ng-click="revert()">
                <i class="fa fa-undo"></i> 重置
            </button>
            <a ui-sref="org/level" class="btn btn-warning"> <i class="fa fa-times"></i>取消并返回
            </a>


        </div>
    </div>
</form>
