<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="redisUserUtil" class="com.balintimes.erp.util.redis.RedisUserUtil">
        <property name="redisTemplate" ref="redisTemplate"/>
    </bean>

    <!--当前用户工具定义-->
    <bean id="webUserUtil" class="com.balintimes.erp.util.mvc.util.impl.RedisWebUserUtil">
        <property name="redisUserUtil" ref="redisUserUtil"/>
    </bean>
    <bean id="permittedUtil" class="com.balintimes.erp.util.mvc.util.impl.RedisPermittedUtil">
        <property name="redisUserUtil" ref="redisUserUtil"/>
        <property name="appCode" value="crm"/>
    </bean>


    <!--webapi-->
    <bean id="ucenterWebApi" class="com.balintimes.erp.util.webapi.HttpApiUtil">
        <property name="prefixUrl" value="${oaucenter.base}"/>
    </bean>
</beans>