<ol class="breadcrumb">
	<li><a href="#">首页</a></li>
	<li><a href="#">机构设置</a></li>
	<li class="active">职位列表</li>
</ol>
<div class="panel-body">
	<script src="/oaucenter/resources/js/jquery.treetable.js"></script>
	<link rel="stylesheet" href="/oaucenter/resources/css/jquery.treetable.css">
	<link rel="stylesheet" href="/oaucenter/resources/css/jquery.treetable.theme.default.css">

	<script type="text/ng-template" id="tree_node">
        <tr tr-mouseover-toggle="3" tt-node is-branch="node.children.length > 0" >
            <td><a href="#"
                   ui-sref="org/post/edit({uid:node.uid,parentuid:node.parentuid,parentname:node.parentname})"><span
                    ng-bind="node.name"></span>				
				</a>				
            </td>
		    <td style="width: 160px;text-align: center" ng-bind="node.organizationname"></td>
                       
            <td ng-bind="node.comment"></td>
            <td>
                <div>
                    <a href="#" ui-sref="org/post/edit({uid:'0',parentuid:node.uid,parentname:node.name})"> <i
                            class="fa fa-angle-double-down"></i> 添加下级职位</a>
                    |
                    <a href="#" ng-click="Deletepost(node.uid)"><i class="fa fa-trash-o fa-fw text-danger"></i>删除</a>
					
                </div>
            </td>
        </tr>
    </script>

	<div class="box">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-ol"></i> 职位列表
			</div>
			<div class="box-tools">
				<div class="input-group" style="width: 300px;">
					<input class="form-control input-sm pull-right" type="text" name="table_search" placeholder="{{'请输入'+vm.value.label}}" ng-model="search_postname">
					<div class="input-group-btn">

						<!-- 						  <select class="btn btn-sm btn-default" ng-com.balintimes.erp.center.model="vm.value" ng-options="choice.label for choice in vm.choices"> -->
						<!-- 						    <option value="">-- 查询方式 --</option> -->
						<!-- 						  </select> -->

						<button class="btn btn-sm btn-default" ng-click="initpostTree(search_postname)">
							<i class="fa fa-search"></i> 查找
						</button>
					</div>
				</div>
			</div>

		</div>

		<div class="box-body box-body table-responsive no-padding">
			<table class="table table-bordered table-striped table-hover" tt-table tt-params="expanded_params">
				<thead>
					<tr>
						<th>职位</th>
						<th>机构</th>
						<th>备注</th>
						<th style="width: 200px; text-align: center"></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

</div>