<div class="wrapper-md">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading font-bold"><i class="fa fa-pencil-square-o"></i> {{vm.title}}</div>
            <div class="panel-body">
                <form class=" form-horizontal" role="form" name="editForm" method="post" enctype="multipart/form-data"
                      novalidate>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="customer">客户</label>

                        <div class="col-md-4">
                            <div class="input-group">
                                <ui-select ng-model="vm.customer" theme="bootstrap"
                                           id="customer" name="customer" required="required">
                                    <ui-select-match placeholder="选择客户.....">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item as item in vm.customerList | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        <small ng-bind-html="item.brand | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>

                                <span class="input-group-btn">
                                  <button ng-click="vm.customer = undefined" class="btn btn-default">
                                      <span class="glyphicon glyphicon-trash"></span>
                                  </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="attachment">上传附件</label>

                        <div class="col-md-4">
                            <input type="file"
                                   name="attachment" id="attachment" class="form-control" nv-file-select
                                   uploader="uploader" multiple/>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="300px">名称</th>
                            <th width="150px" ng-show="uploader.isHTML5">大小</th>
                            <th width="150px" ng-show="uploader.isHTML5">进度</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{
                                item.file.size/1024/1024|number:2 }} MB
                            </td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                        ng-click="item.upload()"
                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="fa fa-upload"></span> 上传
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                        ng-click="removeAtt(item)">
                                    <span class="fa fa-trash"></span> 删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                                ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> 上传所有
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="removeAll()"
                                ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> 删除所有
                        </button>


                        <button class="btn btn-primary " ng-click="saveAtt()">
                            <i class="fa fa-floppy-o"></i> 保存
                        </button>
                        <button class="btn btn-primary"
                                ng-click="goBack()">
                            <i class="fa fa-reply"></i> 返回
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>