<div class="wrapper-md">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading font-bold"><i class="fa fa-pencil-square-o"></i> {{vm.title}}</div>
            <div class="panel-body">
                <form class=" form-horizontal" role="form" name="editForm" method="post" enctype="multipart/form-data"
                      novalidate>

                    <div class="form-group">
                        <label class="col-md-1 control-label" for="attachment">上传附件</label>

                        <div class="col-md-4">
                            <input type="file"
                                   name="attachment" id="attachment" class="form-control" nv-file-select
                                   uploader="uploader"/>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="300px">名称</th>
                            <th width="150px" ng-show="uploader.isHTML5">大小</th>
                            <th width="150px" ng-show="uploader.isHTML5">进度</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{
                                item.file.size/1024/1024|number:2 }} MB
                            </td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                        ng-click="item.upload()"
                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="fa fa-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                        ng-click="removeImg(item)">
                                    <span class="fa fa-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>