<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balintimes.erp.crm.mappers.CustomerMapper">

	<resultMap type="Customer" id="customerMap">
		<id property="uid" column="uid" />
		<result property="name" column="name" />
		<result property="businessType" column="businesstype" />
		<result property="areaUid" column="areauid" />
		<result property="areaName" column="areaname" />
		<result property="areaCode" column="areacode" />
		<result property="companyAddress" column="companyaddress" />
		<result property="postCode" column="postcode" />
		<result property="parentUid" column="parnetuid" />
		<result property="forbidden" column="forbidden" />
		<result property="isDeleted" column="isdeleted" />
		<result property="createBy" column="createby" />
		<result property="createTime" column="createtime" />
		<result property="editBy" column="editby" />
		<result property="editTime" column="edittime" />
		<result property="remarks" column="remarks" />
	</resultMap>

	<select id="getCustomerList" statementType="PREPARED"
		resultType="Customer" parameterType="Map">
		select
			a.*,b.name as areaname
		from
			customer as a join areainfo as b on a.areauid=b.uid
		where
			a.forbidden=0 and a.isdeleted=0
			and (ifnull(#{name},'')='' or LOCATE(#{name},a.name)>0)
		ORDER BY 
			a.uid DESC 
		LIMIT 
			#{startIndex}, #{pageSize}
	</select>
	
	<select id="getCountCustomerByList" statementType="PREPARED"
		resultType="int" parameterType="Map">
		select
			count(a.uid) as datacount
		from
			customer as a join areainfo as b on a.areauid=b.uid
		where
			a.forbidden=0 and a.isdeleted=0
			and (ifnull(#{name},'')='' or LOCATE(#{name},a.name)>0)
	</select>
	
	<select id="getCustomer" statementType="PREPARED" resultType="Customer" parameterType="int">
		select
			a.*,b.name as areaname
		from
		customer as a join areainfo as b on a.areauid=b.uid
		where
			a.uid=#{uid}
	</select>
	
	

</mapper>