<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balintimes.erp.crm.mappers.MediaMapper">
	<resultMap type="Media" id="mediaMap">
		<id property="uid" column="uid" />
		<result property="name" column="name" />
		<result property="protection" column="protection" />
	</resultMap>

	<select id="getMediaList" statementType="PREPARED" resultType="Media"
		parameterType="String">
		select
		*
		from
		media
		<trim prefix="where" prefixOverrides="and">
			<if test="name!=null and name!='' ">
				name like CONCAT(CONCAT('%', #{name,
				jdbcType=VARCHAR}),'%')
			</if>
		</trim>
	</select>

	<select id="getMedia" statementType="PREPARED" resultType="Media"
		parameterType="String">
		select * from media where uid=#{uid}
	</select>

	<insert id="createMedia" statementType="PREPARED" parameterType="Media">
		insert into media(uid,name,protection)
		values(uuid(),#{name},#{protection})
	</insert>

	<update id="updateMedia" statementType="PREPARED" parameterType="Media">
		update media set name=#{name},protection=#{protection} where
		uid=#{uid}
	</update>

	<delete id="deleteMedia" statementType="PREPARED" parameterType="String">
		delete from media where uid=#{uid}
	</delete>

</mapper>