<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->

    <script type="text/javascript" data-main="main.js" src="/bower_components/requirejs/require.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a href="#" ui-sref=".index" class="navbar-brand">AngularUI Router</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Details</a></li>
        <li><a href="#" ui-sref=".line/list">linelist</a></li>
        <li><a href="#" ui-sref=".line/edit({uid:'sdfd'})">lineedit</a></li>
    </ul>
</nav>
<div class="container">
    <div ui-view="">
    </div>
</div>
</body>
</html>
