<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>Balintimes ERP</title>
    <meta name="description" content="balintimes erp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" type="text/css"/>
    <!--<link rel="stylesheet" href="/stylesheets/font.css" type="text/css"/>-->
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css"/>
</head>
<body ng-controller="AppController" ng-init="initAppCtrl()">

<div class="app" id="app"
     ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}"
     ui-view></div>


<!--jquery js -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--lodash-->
<script src="/bower_components/lodash/lodash.min.js"></script>

<!--angular-->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="/bower_components/angular-messages/angular-messages.min.js"></script>

<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/ngstorage/ngStorage.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/angular-lodash/angular-lodash.js"></script>


<!--lazyload-->
<script src="/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<!--ng-table-->
<script src="/bower_components/ng-table/dist/ng-table.js"></script>

<!--application-->
<script src="/javascripts/application.js"></script>
<!--router-->
<script src="/javascripts/router/application.router.bmms.js"></script>
<script src="/javascripts/router/application.router.crm.js"></script>
<script src="/javascripts/application.router.js"></script>

<script src="/javascripts/application.lazyload.js"></script>
<script src="/javascripts/application.service.js"></script>
<script src="/javascripts/application.config.js"></script>
<script src="/javascripts/application.directive.js"></script>
<script src="/javascripts/main.js"></script>

<!--plugins-->
<script src="/javascripts/services/ui-load.js"></script>
<script src="/javascripts/filters/fromNow.js"></script>
<script src="/javascripts/directives/setnganimate.js"></script>
<script src="/javascripts/directives/ui-butterbar.js"></script>
<script src="/javascripts/directives/ui-focus.js"></script>
<script src="/javascripts/directives/ui-fullscreen.js"></script>
<!--<script src="/javascripts/directives/ui-jq.js"></script>-->
<script src="/javascripts/directives/ui-module.js"></script>
<script src="/javascripts/directives/ui-nav.js"></script>
<script src="/javascripts/directives/ui-scroll.js"></script>
<script src="/javascripts/directives/ui-shift.js"></script>
<script src="/javascripts/directives/ui-toggleclass.js"></script>
<script src="/javascripts/directives/ui-validate.js"></script>


</body>
</html>