<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>Balintimes ERP</title>
    <meta name="description" content="balintimes erp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/angular-block-ui/dist/angular-block-ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/gc-angular-toaster/toaster.css" type="text/css"/>
    <!--<link rel="stylesheet" href="/css/font.css" type="text/css"/>-->
    <link rel="stylesheet" href="/bower_components/ng-table/dist/ng-table.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/ui-select/dist/select.min.css" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/application.css" type="text/css"/>

</head>
<body ng-controller="AppController" ng-init="initAppCtrl()">

<div class="app" id="app"
     ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}"
     ui-view></div>


<!--jquery js -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/DateJS/build/date.js"></script>
<!--lodash-->
<script src="/bower_components/lodash/lodash.min.js"></script>
<script src="/bower_components/lodash/lodash.min.js"></script>
<!--angular-->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="/bower_components/angular-messages/angular-messages.min.js"></script>

<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/angular-ui-grid/ui-grid.min.js"></script>
<script src="/bower_components/ngstorage/ngStorage.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!--<script src="/bower_components/angular-lodash/angular-lodash.js"></script>-->

<!--angular translate-->
<script src="/bower_components/angular-translate/angular-translate.min.js"></script>
<script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<script src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>

<!--ui-block-->
<script src="/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
<!--toaster-->
<script src="/bower_components/gc-angular-toaster/toaster.js"></script>


<!--lazyload-->
<script src="/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<!--ng-table-->
<script src="/bower_components/ng-table/dist/ng-table.js"></script>
<!--angular-file-upload -->
<!--<script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>-->

<!--ng-fileupload-->
<script src="/bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>

<!--application-->
<script src="/js/angularjs/application.js"></script>
<!--application.router-->
<script src="/js/angularjs/router/application.router.bmms.js"></script>
<script src="/js/angularjs/router/application.router.crm.js"></script>
<script src="/js/angularjs/application.router.js"></script>
<!--application.config-->
<script src="/js/angularjs/application.lazyload.js"></script>
<script src="/js/angularjs/application.service.js"></script>
<script src="/js/angularjs/application.config.js"></script>
<script src="/js/angularjs/application.directive.js"></script>
<script src="/js/angularjs/application.filter.js"></script>
<script src="/js/angularjs/main.js"></script>

<!--plugins-->
<script src="/js/angularjs/services/ui-load.js"></script>
<!--<script src="/js/angularjs/filters/fromNow.js"></script>-->
<script src="/js/angularjs/directives/setnganimate.js"></script>
<script src="/js/angularjs/directives/ui-butterbar.js"></script>
<script src="/js/angularjs/directives/ui-focus.js"></script>
<script src="/js/angularjs/directives/ui-fullscreen.js"></script>
<script src="/bower_components/ui-select/dist/select.min.js"></script>

<!--<script src="/js/angularjs/directives/ui-jq.js"></script>-->
<script src="/js/angularjs/directives/ui-module.js"></script>
<script src="/js/angularjs/directives/ui-nav.js"></script>
<script src="/js/angularjs/directives/ui-scroll.js"></script>
<script src="/js/angularjs/directives/ui-shift.js"></script>
<script src="/js/angularjs/directives/ui-toggleclass.js"></script>
<script src="/js/angularjs/directives/ui-validate.js"></script>

</body>
</html>