<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
	<script src="javascripts/ocload/app.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-controller="appController">
    	<h6>{{vm.appTitle}}</h6>
    	<a href="#"  ui-sref="user">user</a> | <a href="#"  ui-sref="post">post</a>
    	<div ui-view=""/>
    </div>

  </body>
</html>
